@import 'bootstrap.css';
* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  color: #dd4758;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #d82e42;
}
input[type=text],
input[type=password],
input[type=email],
textarea {
  background: #e2e2e2;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(255,255,255,0.5), inset 0px 1px 3px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0.5em;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.container {
  width: 100%;
}
.arrow-down-white {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url("../img/arrow-down-white.png") no-repeat center center;
  background-size: 100%;
  position: relative;
  bottom: -0.25em;
  right: -0.25em;
}
.utility-float-left {
  float: left !important;
}
.utility-float-right {
  float: right !important;
}
.bg-wood {
  background: url("../img/explore-bg.jpg") no-repeat center center;
  background-size: cover;
}
.bottom-link {
  color: #fff;
  position: fixed;
  bottom: -3px;
  left: calc(50%);
  background: url("../img/bottom-fabric.png") no-repeat top center;
  background-size: 100%;
  display: block;
  height: 40px;
  width: 260px;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
}
.bottom-link:hover,
.bottom-link:focus,
.bottom-link:active {
  color: #fff;
  text-decoration: none;
  bottom: 0;
  cursor: pointer;
}
.bottom-link-wood {
  background: url("../img/bottom-wood.png") no-repeat top center;
  background-size: 100%;
  height: 55px;
  width: 280px;
  font-size: 1.6em;
  line-height: 2.75;
}
.button {
  background: #000;
  border: 0;
  border-radius: 6px;
  border-bottom: 4px solid #000;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-align: center;
  outline: none;
}
.button:hover,
.button:focus {
  color: #fff;
}
.button:active {
  border-color: transparent !important;
  position: relative;
  top: 4px;
}
.button-violet {
  background: #a475b7;
  border-color: #9761ad;
}
.button-violet:hover,
.button-violet:focus {
  color: #fff;
}
.button-violet:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button-seagreen {
  background: #84cfcd;
  border-color: #6cc5c3;
}
.button-seagreen:hover,
.button-seagreen:active,
.button-seagreen:focus {
  color: #fff;
}
.button-seagreen:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button-green {
  background: #6ab01e;
  border-color: #5f9e1b;
}
.button-green:hover {
  color: #fff;
}
.button-green:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button-red {
  background-color: #dd4758;
  border-color: #d82e42;
}
.button-red:hover {
  color: #fff;
}
.button-red:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button-yellow {
  background-color: #efdd02;
  border-color: #d7c702;
  color: #9b8f00;
}
.button-yellow:hover,
.button-yellow:focus {
  color: #9b8f00 !important;
}
.button-yellow:active {
  border-color: transparent;
  position: relative;
  top: 4px;
  color: #9b8f00 !important;
}
.button-seagreen2 {
  color: #418785;
  background-color: #84cfcd;
  border-color: #5aa19f;
}
.button-seagreen2:hover,
.button-seagreen2:focus {
  color: #418785 !important;
}
.button-seagreen2:active {
  border-color: transparent;
  position: relative;
  top: 4px;
  color: #418785 !important;
}
.button-buy {
  background-color: #6ab01e;
  border-color: #558d18;
  padding: 0.25em 0.5em;
  display: inline-block;
}
.button-buy:hover,
.button-buy:active,
.button-buy:focus {
  color: #fff;
}
.button-buy:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button-wishlist {
  background-color: #efdd02;
  border-color: #bfb102;
  display: inline-block;
  padding: 0.25em 0.5em;
}
.button-wishlist i {
  height: 1em;
  width: 1em;
}
.button-wishlist:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.button--add {
  border-radius: 100px;
  min-width: 0;
  height: 30px;
  width: 30px;
  padding: 0.5em 0.4em;
  float: right;
  line-height: 0.4;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  display: block;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  font-weight: 300;
}
.button--add:hover,
.button--add:active,
.button--add:focus {
  color: #fff;
}
.button--add:active {
  border-color: transparent;
  position: relative;
  top: 4px;
}
.cart-checkout-button {
  margin-top: 1em;
  text-align: left;
  font-size: 1.1em;
}
.cart-price-breakdown {
  border-radius: 6px;
  background-color: #fff;
  color: #4a4a4a;
  padding: 0.75em 0;
}
.cart-price-breakdown table {
  width: 100%;
}
.cart-price-breakdown table td {
  padding: 0.25em 1.25em;
  font-size: 1.1em;
}
.cart-price-breakdown table td:last-child {
  text-align: right;
  font-size: 1.25em;
  font-weight: 500;
}
.cart-price-breakdown table tfoot {
  border-top: 1px solid rgba(0,0,0,0.2);
  color: #6ab01e;
}
.cart-price-breakdown table tfoot td {
  padding-top: 1em;
}
.cart-summary {
  background-color: #fff;
  border-radius: 6px;
  color: #4a4a4a;
  padding: 0.25em 1em;
  padding-bottom: 1em;
}
.cart-summary h3 {
  font-size: 1.25em;
  margin: 0;
  padding: 1em 0;
  color: #dd4758;
}
.cart-summary h4 {
  padding: 0;
  margin: 0;
}
.cart-summary img {
  max-width: 100%;
}
.cart-summary .price {
  text-align: right;
  color: #6ab01e;
}
.cart-summary input {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  max-width: 60%;
  padding: 0.2em;
  margin-top: 0.5em;
}
.checkbox-violet {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0 !important;
}
.checkbox-violet:hover {
  cursor: pointer;
}
.checkbox-violet span {
  position: relative;
  padding: 0.5em;
  padding-left: 2em;
  overflow: visible;
  line-height: 1.75;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-violet span:before,
.checkbox-violet span:after {
  overflow: visible;
  content: '';
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  height: 16px;
  width: 16px;
  background: url("../img/checkbox-box.png") no-repeat center center;
  background-size: 16px;
}
.checkbox-violet span:after {
  background: url("../img/checkbox-check.png") no-repeat center center;
  height: 28px;
  width: 26px;
  display: none;
  background-size: 20px;
  top: calc(0.5em - 8px);
  left: -2px;
}
.checkbox-violet input {
  display: none;
}
.checkbox-violet input:checked + span:after {
  display: block;
}
.explore-feature-container .button {
  display: inline-block;
  padding: 0.25em 0.5em;
}
.explore-feature-container .row {
  margin-bottom: 1em;
}
@media only screen and (max-width: 992px) {
  .explore-feature-container .row {
    margin-bottom: 2em;
  }
}
.explore-feature,
.explore-cat {
  height: 200px;
  background: url("") no-repeat center left;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  position: relative;
  vertical-align: middle;
  margin-bottom: 1em;
}
.explore-feature > div,
.explore-cat > div {
  width: 65%;
  height: 100%;
  display: inline-block;
  padding: 2em;
}
.explore-feature > div p,
.explore-cat > div p,
.explore-feature > div h3,
.explore-cat > div h3,
.explore-feature > div h2,
.explore-cat > div h2 {
  padding: 0;
  margin: 0;
}
.explore-feature > div h1,
.explore-cat > div h1 {
  font-weight: 300 !important;
}
.explore-cat h3 {
  font-size: 1.35em;
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 10;
}
.explore-cat {
  height: 150px;
}
.explore-sidebar-container {
  position: absolute;
}
.explore-sidebar-container.fixed {
  position: fixed;
  top: 15px;
}
@media only screen and (max-width: 992px) {
  .explore-sidebar-container {
    position: relative;
  }
  .explore-sidebar-container.fixed {
    position: relative;
  }
}
.explore-sidebar {
  background: #fff url("../img/search-sidebar-bg.png") center center;
  background-size: cover;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  padding: 1.5em 2em 3em 2em;
  border-radius: 4px;
  position: relative;
  margin-top: 2em;
  color: #55565b;
}
.explore-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 0.5em;
}
.explore-sidebar li {
  padding-bottom: 0.25em;
  font-size: 1.1em;
}
.explore-sidebar li.active {
  padding-bottom: 1em;
}
.explore-sidebar li.active > a {
  color: #8765ac;
}
.explore-sidebar li ul {
  margin-left: 1em;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  -webkit-transition: 50ms ease all;
  transition: 50ms ease all;
  overflow: hidden;
}
.explore-sidebar li ul.active {
  opacity: 1;
  visibility: visible;
  margin-bottom: 1em;
  max-height: 1000px;
}
.explore-sidebar a {
  color: #55565b;
  font-size: 1em;
}
.explore-sidebar a:hover {
  color: #a475b7 !important;
}
.explore-sidebar h3 {
  font-size: 1em;
  text-transform: uppercase;
}
.explore-sidebar:before,
.explore-sidebar:after {
  content: '';
  position: absolute;
  background-size: 100% 100% !important;
  display: block;
}
.explore-sidebar:before {
  background: url("../img/explore-sidebar-tape.png") no-repeat top left;
  height: 42px;
  width: 113px;
  top: -22px;
  left: 20%;
}
.featured-products-container {
  padding-left: 5em;
}
.featured-products-container h3 {
  margin-top: 0;
}
@media only screen and (max-width: 992px) {
  .featured-products-container {
    padding-left: 0;
    margin-top: 1em;
  }
}
.filter-bar {
  display: inline-block;
  color: #55565b;
  background: #fff url("../img/filter-bar-bg.png");
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  margin-bottom: 1em;
}
.filter-bar__title {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.5em 0.5em 0.75em;
  font-size: 1.15em;
  font-weight: 500;
}
.filter-bar__title:after {
  content: '';
  background: url("../img/filter-bar-divider.png");
  background-size: 100% auto;
  width: 10px;
  height: 100%;
  position: absolute;
  display: inline-block;
  margin-bottom: -0.5em;
  top: 0;
  right: 0;
}
.filter-bar__select {
  margin: 0.25em 1em 0.25em 0.5em;
  -webkit-appearance: none;
  background: transparent url("../img/filter-bar-arrow.png") no-repeat center right;
  background-size: 10px;
  border: 0;
  padding-right: 1.75em;
}
.helper {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #000;
  background: #fff;
  padding: 1em;
  z-index: 1000000;
  max-height: 35px;
  overflow: hidden;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.2);
  font-size: 0.75em;
  -webkit-transition: 1000ms all ease;
  transition: 1000ms all ease;
}
.helper.active {
  max-height: 10000px;
}
.helper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.helper li {
  padding: 0.5em 0;
}
hr.shadow {
  background: url("../../img/hr-shadow.png") repeat-x top left;
  height: 16px;
  width: 100%;
  background-size: auto 16px;
}
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: 100% 100% !important;
  position: relative;
  bottom: -0.15em;
  right: -0.15em;
  margin-right: 0.5em;
}
.icon-favorite {
  background: url("../img/icon-favorite-stores.png") no-repeat center center;
}
.icon-wishlist {
  background: url("../img/icon-my-wishlist.png") no-repeat center center;
}
.icon-share {
  background: url("../img/icon-share.png") no-repeat center center;
}
.item-box-container {
  margin-bottom: 1em;
}
.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.75em;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  margin-bottom: 1em;
}
.item-box__img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.item-box__img img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.75em;
}
.item-box__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  color: #4a4a4a;
  margin-top: 0.5em;
}
.item-box__title {
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 0.25em;
  margin: 0;
}
.item-box__subtitle {
  font-size: 0.9em;
  margin: 0;
}
.item-box__action {
  text-align: right;
  margin-top: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.item-box--small .item-box__img {
  height: 0;
  padding-bottom: 110%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1em;
}
.item-box--4x4 .item-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-box--4x4 .item-box__img div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 0.5em);
          flex: 1 1 calc(50% - 0.5em);
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 0.5em;
}
.item-box--4x4 .item-box__img div:nth-child(2n - 1) {
  margin-right: 0.5em;
}
.item-box--4x4 .item-box__img img {
  margin: 0;
}
.item-box--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.item-box--horizontal .item-box__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 120px;
}
.item-box--horizontal .item-box__description {
  padding-left: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.item-box--horizontal .item-box__action {
  position: absolute;
  left: 50%;
  padding-left: 1em;
  bottom: 1em;
}
.item-box--horizontal .item-box__action .button {
  color: #fff;
}
.my-account-profile {
  background: url("../img/my-account-bg1.png") no-repeat top left;
  background-size: cover;
  padding: 4.5em 3em 1em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  color: #000;
  margin-bottom: 3em;
}
.my-account-profile img {
  width: 115px;
  max-width: 100%;
}
.my-account-profile h3 {
  color: #dd4758;
  margin: 0;
  padding: 0;
}
.my-account-profile table {
  width: 100%;
  margin-top: 1em;
}
.my-account-profile table td {
  font-weight: 100;
  padding: 0.5em 0;
  font-size: 1.2em;
}
.my-account-profile table td:first-child {
  font-weight: 400;
  width: 27%;
}
.my-account-profile hr {
  border: 0;
  border-top: 1px solid #000;
}
.my-account-profile-upload {
  margin: 1em 0;
  display: block;
}
.my-account-profile-upload .button {
  background: #dd4758;
  border-color: #c52437;
  padding: 0.25em 1em;
  font-weight: 100;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 0.5em;
}
.my-account-profile-action {
  padding-top: 4em;
  padding-bottom: 1em;
  text-align: right;
}
.my-account-profile-action button {
  border: 0;
  background: transparent;
}
.my-account-profile-edit {
  color: #6ab01e;
}
.my-account-profile-deactivate {
  color: #b31628;
}
.my-account-password {
  background: #a0e3e3;
  background-size: cover;
  padding: 2em 8em 3em 3em;
  margin-bottom: 3em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  position: relative;
}
.my-account-password:before,
.my-account-password:after {
  content: '';
  position: absolute;
  width: 23px;
  height: 64px;
  background-size: 100% !important;
  display: block;
}
.my-account-password:before {
  background: url("../img/my-account-clip1.png") no-repeat top left;
  top: -22px;
  right: 60px;
}
.my-account-password:after {
  background: url("../img/my-account-clip2.png") no-repeat center center;
  bottom: -22px;
  right: 60px;
}
.my-account-password h3 {
  margin-bottom: 1em;
}
.my-account-password form input:not([type=submit]) {
  background-color: #418785;
}
.my-account-password form .button {
  background-color: #6aacaa;
  border-color: #508f8d;
}
.my-account-email {
  background: #c17bfe;
  background-size: cover;
  padding: 2em 8em 3em 3em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  color: #fff;
  position: relative;
  margin-bottom: 8em;
}
.my-account-email:before,
.my-account-email:after {
  content: '';
  position: absolute;
  width: 23px;
  height: 64px;
  background-size: 100% 100% !important;
  display: block;
}
.my-account-email:before {
  background: url("../img/my-account-clip3.png") no-repeat top left;
  top: 40%;
  right: -22px;
  width: 64px;
  height: 23px;
}
.my-account-email:after {
  background: url("../img/my-account-clip4.png") no-repeat center center;
  bottom: -22px;
  right: 60px;
}
.my-account-email h3 {
  margin-bottom: 1em;
}
.my-account-email table {
  width: 100%;
}
.my-account-email table td:last-child {
  text-align: right;
}
.my-account-email form input:not([type=submit]) {
  background-color: #9013fe;
}
.my-account-email form .button {
  background-color: #8765ac;
  border-color: #6c4c8e;
}
.page {
  width: 100%;
  padding: 2em;
  padding-left: 320px;
  min-height: 100vh;
  padding-top: 3.5em;
  color: #fff;
}
.page h2 {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  font-size: 2.75em;
  font-weight: 500;
  margin-bottom: 0.75em;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .page {
    padding-top: 10em;
    padding-left: 2em;
    padding-right: 0.5em;
    font-size: 0.9em;
  }
}
.product-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-item-container .product-item {
  width: calc(25% - 1em);
}
@media only screen and (max-width: 1280px) {
  .product-item-container .product-item {
    width: calc(33.33% - 1em);
  }
}
@media only screen and (max-width: 768px) {
  .product-item-container .product-item {
    width: calc(50% - 0.5em);
  }
  .product-item-container .product-item:nth-child(2n) {
    margin-right: 0;
  }
}
.product-item {
  margin-right: 1em;
  margin-bottom: 1.5em;
}
.product-item__img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.product-item__img img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.75em;
}
.product-item__description {
  color: #4a4a4a;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}
.product-item__description .product-item__name {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
.product-item__description .product-item__price {
  font-size: 0.9em;
  margin: 0;
}
.product-item__action {
  text-align: right;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.product-item--small .product-item__img {
  height: 0;
  padding-bottom: 110%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1em;
}
.product-item--small .item-box__action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.product-view-options {
  padding: 0.5em 1.5em;
  margin-top: 1em;
}
.product-view-options h2,
.product-view-options h3 {
  font-size: 1.65em;
  color: #4a4a4a;
  text-shadow: none;
  font-weight: 500;
  margin-bottom: 0.25em;
}
.product-view-options h3 {
  font-size: 1.25em;
  margin-top: 0.75em;
}
.product-view-options p {
  color: #4a4a4a;
  font-size: 1.2em;
}
.product-view-options select,
.product-view-options input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
  border: 1px solid rgba(74,74,74,0.5) !important;
  font-size: 1em !important;
  color: #4a4a4a;
  padding: 0.35em 0.5em !important;
  margin-top: 1em;
}
.product-view-options select {
  background: url("../img/select-arrow.png") no-repeat calc(90% - 0.5em) center;
  background-size: 1em;
  padding-right: 0.5em;
}
.product-view-options .button {
  padding: 0.25em 1em;
  display: inline-block;
}
.product-view-options .col-md-4,
.product-view-options .col-md-3 {
  padding-right: 0;
}
.product-view-buttons {
  padding: 1em 0.25em 0.5em;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.1);
  margin: 0.5em -22px 0;
}
.product-view-reviews {
  padding-bottom: 0;
}
.product-view-reviews .button {
  margin-top: 0.75em;
  float: right;
}
.product-view-reviews hr {
  margin: 0.5em;
  margin-left: -20px;
  width: calc(100% + 40px);
}
.product-view-reviews-item {
  border-top: 1px solid rgba(74,74,74,0.2);
  padding-top: 1.25em;
  clear: both;
  color: #4a4a4a;
  margin: 0 -20px;
}
.product-view-reviews-item:first-child {
  padding-top: 0;
  border-top: 0;
}
.product-view-reviews-item p {
  font-size: 0.8em;
  margin-top: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}
.product-view-reviews-item__name {
  font-size: 1.25em;
}
@media only screen and (max-width: 1280px) {
  .product-view-reviews-item__name {
    font-size: 1em;
  }
}
.product-view-reviews-item__date {
  text-align: right;
}
@media only screen and (max-width: 1280px) {
  .product-view-reviews-item__date {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 992px) {
  .product-view-reviews-item__date {
    text-align: left;
  }
}
.product-view-reviews-item__image {
  padding-top: 0.1em;
}
.product-view-reviews-item__image img {
  max-width: 125%;
  min-width: 40px;
}
.product-view-reviews-item .rating {
  margin: 0.5em 0;
}
.product-view {
  margin-bottom: 2.5em;
  margin-top: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-view:before,
.product-view:after {
  content: '';
  position: absolute;
  background-size: 100% 100% !important;
  display: block;
}
.product-view:before {
  background: url("../img/product-item-view-tape.png") no-repeat top left;
  height: 45px;
  width: 185px;
  top: -18px;
  left: 35%;
}
.product-view .item-box__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 0.5em;
}
.product-view__thumb {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.product-view__thumb img {
  width: 40%;
}
.product-view__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-bottom: 0.5em;
  color: #4a4a4a;
}
.product-view__description h3 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.35em;
  font-weight: 500;
}
.product-view-close {
  display: block;
  background: url("../img/product-item-view-close.png") no-repeat center center;
  width: 100px;
  height: 30px;
  background-size: 100%;
  margin: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  color: #4a4a4a;
  line-height: 2.25;
  padding: 0 0.75em;
  margin-top: 1em;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
}
.product-view-close:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  color: #4a4a4a;
  font-weight: 500;
}
.product-view-close:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  color: #4a4a4a;
}
.product-view-store-items {
  padding-bottom: 1.5em;
}
.product-view-store-items .button {
  margin-top: 0.75em;
  float: right;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: none !important;
}
.product-view-store-items a {
  display: block;
  overflow: hidden;
}
.product-view-store-items a img {
  max-width: 100%;
  border-radius: 8px;
}
.product-view-store-items .col-md-4 {
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.rating span {
  display: inline-block;
  background: url("../img/icon-star-0.png") no-repeat center center;
  background-size: 100%;
  height: 1em;
  width: 1em;
}
.rating span.active {
  background-image: url("../img/icon-star-1.png");
}
.js-read-more-toggle:hover {
  cursor: pointer;
}
.read-more {
  display: none;
}
.search-bar form {
  position: relative;
}
.search-bar input[type=text] {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0;
  background: #fff url("../img/search-bar-bg.png");
  color: #8765ac;
  font-size: 2em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  font-weight: 500;
}
.search-bar ::-webkit-input-placeholder {
  color: #8765ac;
}
.search-bar :-moz-placeholder {
  color: #8765ac;
}
.search-bar ::-moz-placeholder {
  color: #8765ac;
}
.search-bar :-ms-input-placeholder {
  color: #8765ac;
}
.search-bar input[type=submit] {
  background: url("../img/search-bar-button.png");
  background-size: 100%;
  height: 50px;
  width: 50px;
  border: none;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  right: 2em;
  top: 0.75em;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
  outline: 0;
}
.search-bar input[type=submit]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.search-bar--small {
  font-size: 0.65em;
}
.search-bar--small input[type=text] {
  border-radius: 4px;
}
.search-bar--small input[type=submit] {
  height: 30px;
  width: 30px;
}
.search-bar--small ::-webkit-input-placeholder {
  color: #55565b;
}
.search-bar--small :-moz-placeholder {
  color: #55565b;
}
.search-bar--small ::-moz-placeholder {
  color: #55565b;
}
.search-bar--small :-ms-input-placeholder {
  color: #55565b;
}
.search-sidebar-container {
  background: #fff url("../img/search-sidebar-bg.png") center center;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  padding: 1.5em 2em 3em 2em;
  position: relative;
  left: 1.25em;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}
.search-sidebar-container.active {
  width: 100%;
}
.search-sidebar-container.active .search-sidebar {
  width: 25%;
  height: auto;
}
.search-sidebar-container.active .search-slidebar {
  position: relative;
  width: 70%;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.search-sidebar-container.active .search-slidebar:before {
  content: '';
  height: calc(100% + 75px);
  width: 16px;
  display: block;
  left: -35px;
  top: -35px;
  position: absolute;
  background: url("../img/divider-vertical-shadow.png") repeat-y left top;
  background-size: 16px auto;
}
.search-sidebar-container.active + .featured-products-container {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.search-sidebar {
  float: left;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .search-sidebar {
    float: none;
    width: 100% !important;
  }
}
.search-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-sidebar li {
  padding: 0.3em 0;
}
.search-sidebar a {
  color: #55565b;
  font-size: 1.25em;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
  padding-right: 1em;
}
.search-sidebar a:hover {
  color: #a475b7;
}
.search-sidebar a.active {
  color: #a475b7;
  background: url("../img/arrow-violet.png") no-repeat right center;
  background-size: 0.5em;
  padding-right: 1.5em;
}
.search-sidebar:before,
.search-sidebar:after {
  content: '';
  position: absolute;
  background-size: 100% 100% !important;
  display: block;
}
.search-sidebar:before {
  background: url("../img/search-sidebar-tape.png") no-repeat top left;
  height: 144px;
  width: 47px;
  top: 40%;
  right: -12px;
}
.search-slidebar-featured {
  border-top: 2px dashed #979797;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
.search-slidebar-featured h3 {
  color: #84cfcd !important;
  font-weight: normal;
  margin-bottom: 0.5em !important;
  margin-top: 1em;
}
.search-slidebar-featured > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-slidebar-featured > div .item-box {
  background-color: #f3f3f3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 1em;
}
.search-slidebar-featured > div .item-box:last-child {
  margin-right: 0;
}
.search-slidebar-featured__viewmore {
  color: #fff !important;
  display: inline-block;
  padding: 1em 1em;
  max-height: 75px;
  margin-top: 2em;
}
.search-slidebar {
  float: left;
  margin-top: 0.5em;
  width: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.search-slidebar h3 {
  color: #68696e;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 0.35em;
  font-weight: 500;
}
.search-slidebar ul {
  padding: 0;
  list-style: none;
}
.search-slidebar a {
  color: #55565b;
  font-size: 1em;
}
.search-slidebar a:hover {
  color: #a475b7;
}
.search-slidebar-item {
  margin-bottom: 0;
}
.seller-feature-box {
  background-image: -webkit-linear-gradient(135deg, #ececec 0%, #fff 100%);
  background-image: linear-gradient(-45deg, #ececec 0%, #fff 100%);
  box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.29);
  border-radius: 5px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.seller-feature-box .button {
  display: inline-block;
  font-size: 0.85em;
  padding: 0.25em 0.75em;
  margin-top: 1em;
}
@media only screen and (max-width: 768px) {
  .seller-feature-box .button {
    font-size: 1em;
  }
}
.seller-feature-box__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
@media only screen and (max-width: 768px) {
  .seller-feature-box__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 1em;
  }
  .seller-feature-box__info p {
    font-size: 1.15em;
  }
}
.seller-feature-box__avatar {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  max-width: 55px;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.seller-feature-box__avatar img {
  width: 100%;
}
h3.seller-feature-box__title {
  color: #dd4758;
  font-weight: 400;
  margin: 0;
  font-size: 1.05em;
  max-width: 80px;
  margin-bottom: 0.25em;
}
h3.seller-feature-box__title + .rating {
  font-size: 0.9em;
}
@media only screen and (max-width: 768px) {
  h3.seller-feature-box__title {
    max-width: 1000px;
    font-size: 1.5em;
  }
  h3.seller-feature-box__title + .rating {
    font-size: 1.35em;
  }
}
.seller-feature-box__description {
  color: #55565b;
  clear: both;
  font-size: 0.9em;
  margin: 0;
}
.seller-feature-box__products {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .seller-feature-box__products {
    display: block;
  }
}
.seller-feature-box__product {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 1em;
}
.seller-feature-box__product img {
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .seller-feature-box__product {
    padding-left: 0;
  }
}
.seller-header-bar {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  padding: 1em 1.5em;
  font-size: 1.1em;
  margin: 1em 0 1.75em;
}
.seller-header-bar__item {
  display: inline-block;
  margin-right: 1.75em;
}
.seller-header-bar__item a {
  color: #55565b;
}
.seller-header-bar__item a:hover {
  color: #dd4758;
}
.seller-header-bar__item a span {
  color: #9b9b9b;
  padding-left: 0.25em;
}
.seller-header-bar__item a span:before {
  content: '•';
  color: #9b9b9b;
  padding-right: 0.45em;
}
.seller-header {
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5em;
  padding-bottom: 4.75em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}
.seller-header .button {
  display: inline-block;
  margin: 1em 0.25em;
}
.seller-header .button-yellow {
  background: #efdd02 url("../img/seller-icon-favorite.png") no-repeat calc(100% - 0.75em) center;
  background-size: 1.15em;
  padding-right: 2.5em;
}
.seller-header .button-seagreen2 {
  background: #84cfcd url("../../img/seller-icon-message.png") no-repeat calc(100% - 0.75em) center;
  background-size: 1.25em;
  padding-right: 3.5em;
}
@media only screen and (max-width: 992px) {
  .seller-header {
    text-align: center;
  }
  .seller-header .utility-float-right,
  .seller-header .utility-float-left {
    clear: both;
    float: none !important;
  }
}
.seller-header__cover {
  height: 16em;
  border-radius: 6px 6px 0 0;
  background: url("../../img/seller-header.jpg") no-repeat center center;
  background-size: cover;
}
.seller-header__avatar {
  float: left;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 1em;
  margin-bottom: 0.5em;
  margin-top: -1.5em;
  margin-left: 1em;
  max-width: 80px;
}
.seller-header__avatar img {
  max-width: 100%;
}
@media only screen and (max-width: 992px) {
  .seller-header__avatar {
    float: none;
  }
}
h3.seller-header__title {
  color: #dd4758;
  font-weight: 400;
  margin: 0;
  font-size: 1.45em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}
h3.seller-header__title + .rating {
  font-size: 1.1em;
}
@media only screen and (max-width: 768px) {
  h3.seller-header__title {
    max-width: 1000px;
    font-size: 1.25em;
  }
  h3.seller-header__title + .rating {
    font-size: 1.35em;
  }
}
.sidebar-container.sidebar-register-active .sidebar-primary {
  padding-right: 140px;
}
.sidebar-container.sidebar-register-active .sidebar-register {
  opacity: 1;
  left: 0;
}
.sidebar-container.sidebar-login-active .sidebar-primary {
  padding-right: 140px;
}
.sidebar-container.sidebar-login-active .sidebar-login {
  opacity: 1;
  left: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 0 10px rgba(0,0,0,0.2);
  background: url("../img/sidebar-bg.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  min-width: 240px;
  text-align: center;
  z-index: 1000;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
}
.sidebar a:hover {
  color: #dd4758;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    left: -220px;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar.active {
    left: 0;
  }
}
.sidebar-register,
.sidebar-login {
  width: 300px;
  opacity: 0;
  left: -300px;
  padding-top: 2em;
}
.sidebar-register .sidebar-section,
.sidebar-login .sidebar-section {
  padding-right: 4em;
  padding-left: 2em;
  padding-bottom: 2em;
}
.sidebar-register h3,
.sidebar-login h3 {
  color: #dd4758;
  font-weight: normal;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.sidebar-register .sign-in-with,
.sidebar-login .sign-in-with {
  background: #000;
  border-radius: 6px;
  border-bottom: 4px solid #000;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 0.5em 1.5em;
  text-align: left;
  margin-bottom: 1em;
  position: relative;
}
.sidebar-register .sign-in-with.facebook,
.sidebar-login .sign-in-with.facebook {
  background: #225a9b;
  border-color: #1b487c;
}
.sidebar-register .sign-in-with.google,
.sidebar-login .sign-in-with.google {
  background: #d0021b;
  border-color: #a60216;
}
.sidebar-register .sign-in-with:hover,
.sidebar-login .sign-in-with:hover {
  color: #fff;
}
.sidebar-register .sign-in-with:active,
.sidebar-login .sign-in-with:active {
  border-color: transparent;
  top: 4px;
}
.sidebar-my-account {
  text-align: left;
  padding: 3em 1em 2em 3.25em !important;
}
.sidebar-my-account:after {
  content: none !important;
}
.sidebar-my-account img {
  width: 60px;
}
.sidebar-my-account h3 {
  color: #dd4758;
  font-size: 1.25em;
  font-weight: 400;
}
.sidebar-my-account ul {
  list-style: none;
  padding: 0;
  margin: 0.25em 0;
}
.sidebar-my-account li {
  line-height: 1.75;
}
.sidebar-my-account a {
  color: #55565b;
}
.sidebar-form {
  text-align: left;
}
.sidebar-form input[type=submit] {
  background-color: #84cfcd;
  border-color: #43aba8;
  padding: 0.45em 1em;
}
.sidebar-form-terms {
  position: relative;
  padding-left: 1.5em;
}
.sidebar-form-terms span {
  font-size: 0.8em;
  color: #999;
}
.sidebar-form-terms input {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar-form-bottom {
  padding-top: 2em;
  color: #999;
  font-size: 0.9em;
}
.sidebar-form-bottom a {
  color: #8765ac;
}
.sidebar-login .sidebar-form-bottom input[type=submit] {
  background-color: #8765ac;
  border-color: #5e437c;
}
.sidebar-login .sidebar-form-bottom a {
  color: #84cfcd;
}
.sidebar-login-footer {
  text-align: left;
  margin-top: 1.5em;
}
.sidebar-login-footer a {
  display: block;
  color: #8765ac;
}
.sidebar-or {
  margin-top: -0.25em;
  margin-bottom: 2em;
  background: url("../img/sidebar-bg.png");
  margin-left: -0.5em;
  width: 40px;
}
.sidebar:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;
  background: url("../img/sidebar-bg2.png") repeat-y top center;
  background-size: 30%;
}
.sidebar-section {
  position: relative;
  padding: 0em 1em 0;
}
.sidebar-section:after {
  content: '';
  display: block;
  background: url("../img/sidebar-divider.png") no-repeat bottom;
  background-size: 100% auto;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.sidebar-section:last-child:after {
  content: none;
}
.sidebar-logo {
  padding: 3em 1em 1em;
}
.sidebar-logo img {
  max-width: 160px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}
.sidebar-logo p {
  color: #6aacaa;
}
.sidebar-login-link {
  padding-top: 1em;
}
.sidebar-login-link a {
  color: #55565b;
  text-decoration: none;
  padding: 0.25em;
  display: inline-block;
  font-size: 1.25em;
}
.sidebar-bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.sidebar-bottom:before {
  content: '';
  display: block;
  background: url("../img/sidebar-divider.png") no-repeat bottom;
  background-size: 100% auto;
  height: 20px;
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
}
@media (max-height: 700px) {
  .sidebar-bottom {
    position: relative;
    bottom: 0;
    padding-top: 1em;
  }
  .sidebar-bottom:before {
    content: none;
  }
}
.sidebar-scrollable {
  overflow: scroll;
  max-height: 100%;
  padding-bottom: 40px;
}
.sidebar-cart a {
  display: block;
  color: #55565b;
  width: 100%;
  line-height: 2.5em;
  font-size: 1.25em;
}
.sidebar-cart a:hover {
  text-decoration: none;
}
.sidebar-cart-icon {
  display: inline-block;
  background: url("../img/sidebar-cart-icon.png") no-repeat center center;
  background-size: auto 100%;
  height: 40px;
  width: 100px;
  margin-left: -2em;
  text-align: right;
}
.sidebar-cart-icon span {
  background-color: #dd4758;
  border-radius: 100px;
  padding: 0.25em 0.65em;
  color: #fff;
  font-size: 0.7em;
  position: relative;
  left: -1.35em;
  top: 0;
}
.sidebar-social ul {
  list-style: none;
  padding: 1.25em 0 0 0;
}
.sidebar-social li {
  display: inline-block;
}
.sidebar-social li a {
  overflow: hidden;
  text-indent: -999px;
  display: block;
  height: 25px;
  width: 25px;
  background: url("") no-repeat center center;
  background-size: 100%;
}
.sidebar-social li a.facebook {
  background-image: url("../img/social-facebook.png");
}
.sidebar-social li a.vimeo {
  background-image: url("../img/social-vimeo.png");
}
.sidebar-social li a.linkedin {
  background-image: url("../img/social-linkedin.png");
}
.sidebar-social li a.youtube {
  background-image: url("../img/social-youtube.png");
}
.sidebar-start-selling-today {
  padding-top: 2em;
}
.sidebar-start-selling-today p {
  color: #e65f6b;
  padding: 0;
  font-size: 1.05em;
  margin-bottom: 6px;
}
.sidebar-start-selling-today ul {
  list-style: none;
  padding: 0;
}
.sidebar-start-selling-today a {
  color: #55565b;
  line-height: 2em;
}
.sidebar-menu {
  position: absolute;
  right: -81px;
  top: 4em;
  background: url("../img/sidebar-menu-bg.png") no-repeat right center;
  background-size: auto 100%;
  height: 76px;
  width: 81px;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
}
.sidebar-menu ul {
  list-style: none;
  padding: 8px 1em;
  margin: 0;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
  overflow: hidden;
  max-height: 80px;
}
.sidebar-menu li {
  display: inline-block;
}
.sidebar-menu li a {
  color: #fff;
  padding: 1em 1.15em;
  display: inline-block;
  font-size: 1.25em;
}
.sidebar-menu-toggle {
  background: url("../img/sidebar-menu-icon-open.png") no-repeat center center;
  display: block;
  height: 20px;
  width: 20px;
  background-size: 100%;
  position: absolute;
  top: 2em;
  right: 3em;
}
.sidebar-menu-help {
  text-align: left;
  position: absolute;
  top: 1.85em;
  left: 7em;
  background: url("../img/sidebar-menu-arrow.png") no-repeat top left;
  background-size: 27px;
  padding-top: 4em;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
}
.sidebar-menu-help p {
  font-size: 1.35em;
}
.sidebar-menu-help.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.sidebar-menu.active {
  width: 580px;
  right: -580px;
}
.sidebar-menu.active ul {
  visibility: visible;
  opacity: 1;
}
.sidebar-menu.active .sidebar-menu-toggle {
  background-image: url("../img/sidebar-menu-icon-close.png");
  background-size: 70%;
}
.sidebar-menu.active .sidebar-menu-help {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 667px) {
  .sidebar-menu.active {
    width: 340px;
    right: -340px;
  }
  .sidebar-menu.active > div {
    padding-right: 2em;
    overflow-x: scroll;
    width: 250px;
  }
  .sidebar-menu.active ul {
    white-space: nowrap;
    width: 500px;
  }
}
.sidebar-reveal {
  background: url("../img/sidebar-reveal-open-bg.png") no-repeat top center;
  background-size: 100% auto;
  width: 100%;
  display: block;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
  overflow: hidden;
}
.sidebar-reveal:not(.active):hover {
  height: 45px;
}
.sidebar-reveal ul {
  list-style: none;
  padding: 1.25em 0;
}
.sidebar-reveal ul a {
  color: #fff;
  display: inline-block;
  padding: 0.25em 0;
  font-size: 1.1em;
}
.sidebar-reveal-toggle {
  color: #fff;
  line-height: 3.5em;
}
.sidebar-reveal-toggle:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-reveal.active {
  height: 240px;
}
.sidebar-close {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 2em;
  opacity: 0;
  z-index: 1000;
}
@media only screen and (max-width: 768px) {
  .sidebar-close {
    opacity: 1;
  }
}
.sidebar-close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.sidebar-close:hover {
  cursor: pointer;
}
.sidebar-login .sidebar-close,
.sidebar-register .sidebar-close {
  opacity: 1 !important;
}
.sidebar-bg-overlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}
.sidebar-bg-overlay.active {
  opacity: 1;
  visibility: visible;
}
.wishlist-group-add {
  border: 2px dashed #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wishlist-group-add a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.75em;
  line-height: 1.25;
  font-weight: 300;
}
.wishlist-group-add a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.wishlist-group-add a:active img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.wishlist-group-add img {
  display: block;
  margin: 1em auto;
  max-width: 80px;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
}
.wishlist-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wishlist-group-container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.33% - 2em);
          flex: 1 1 calc(33.33% - 2em);
  margin-right: 2em;
  margin-bottom: 2em;
}
@media only screen and (max-width: 1024px) {
  .wishlist-group-container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 2em);
            flex: 1 1 calc(50% - 2em);
  }
}
@media only screen and (max-width: 768px) {
  .wishlist-group-container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.wishlist-info {
  background: url("../img/wishlist-share-bg.png");
  background-size: 100%;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  padding: 1em;
  padding-top: 40px;
  color: #4a4a4a;
  position: relative;
  margin-bottom: 1em;
}
.wishlist-info:before {
  content: '';
  background: url("../img/wishlist-info-pin.png") no-repeat center center;
  display: block;
  position: absolute;
  top: 0.5em;
  left: calc(50% - 20px);
  height: 40px;
  width: 40px;
  background-size: 100%;
}
.wishlist-info__title {
  margin: 0;
  padding: 0.1em;
  font-size: 1.5em;
}
.wishlist-info__edit {
  color: #b3b3b3;
}
.wishlist-share {
  margin-top: 0.75em;
  padding-top: 0.75em;
  border-top: 1px solid rgba(0,0,0,0.2);
}
.wishlist-share p {
  margin: 0.25em;
}
.wishlist-share ul {
  list-style: none;
  padding: 0;
}
.wishlist-share li {
  display: inline-block;
}
.wishlist-share a {
  display: block;
  height: 2em;
  width: 2em;
  overflow: hidden;
  text-indent: -999px;
  background: url("") no-repeat center center;
  background-size: 100%;
}
.wishlist-share__fb {
  background-image: url("../img/wishlist-social-fb.png") !important;
}
.wishlist-share__tw {
  background-image: url("../img/wishlist-social-tw.png") !important;
}
.wishlist-share__ig {
  background-image: url("../img/wishlist-social-ig.png") !important;
}
.wishlist-share__pi {
  background-image: url("../img/wishlist-social-pi.png") !important;
}
.wishlist-share__em {
  background-image: url("../img/wishlist-social-email.png") !important;
}
.wishlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75em;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  color: #422a20;
  width: calc(99.9% * 1/2 - (1em - 1em * 1/2));
}
.wishlist-item:nth-child(1n){
  float: left;
  margin-right: 1em;
  clear: none;
}
.wishlist-item:last-child{
  margin-right: 0;
}
.wishlist-item:nth-child(2n){
  margin-right: 0;
  float: right;
}
.wishlist-item:nth-child(2n + 1){
  clear: both;
}
@media only screen and (max-width: 1024px) {
  .wishlist-item {
    width: calc(99.9% * 1 - (1em - 1em * 1));
  }
  .wishlist-item:nth-child(1n){
    float: left;
    margin-right: 1em;
    clear: none;
  }
  .wishlist-item:last-child{
    margin-right: 0;
  }
  .wishlist-item:nth-child(undefinedn){
    margin-right: 0;
    float: right;
  }
  .wishlist-item:nth-child(undefinedn + 1){
    clear: both;
  }
}
.wishlist-item__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wishlist-item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.1em;
}
.wishlist-item__title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.25em;
}
.wishlist-item__footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 0.5em;
}
.wishlist-item__footer > div {
  display: inline-block;
}
.wishlist-item__footer .button {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em 1em;
  float: right;
}
.page-cart {
  background: url("../img/cart-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-explore {
  background: url("../img/explore-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-generic {
  background: url("../img/generic-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-generic h2 {
  color: #dd4758;
  text-shadow: none;
}
.page-generic h3 {
  color: #422a20;
}
.page-generic p {
  color: #422a20;
  font-size: 1.1em;
}
.page-home {
  background: url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-home img {
  max-width: 100%;
}
.page-home-content {
  padding-top: 135px;
}
.page-home-content h1 {
  color: #dd4758;
  font-size: 4em;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 768px) {
  .page-home-content h1 {
    font-size: 3em;
  }
}
.page-home-content p {
  font-size: 1.15em;
  padding-right: 2em;
  line-height: 2em;
  color: #55565b;
}
@media only screen and (max-width: 768px) {
  .page-home-content {
    padding-top: 60px;
    width: 100%;
  }
  .page-home-content p {
    font-size: 1.25em;
    padding-right: 0;
  }
}
.page-home-image {
  padding-top: 100px;
}
.page-home-image img {
  max-width: 90%;
}
@media only screen and (max-width: 768px) {
  .page-home-image img {
    max-width: 100%;
  }
}
.page-my-account {
  background: url("../img/my-account-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 3.5em;
  color: #55565b;
}
.page-my-account h3 {
  font-size: 1.35em;
}
.page-my-account form input:not([type=submit]) {
  box-shadow: 0px 2px 4px 0px rgba(255,255,255,0.25), inset 0px 1px 3px 0px rgba(0,0,0,0.2);
  padding: 0.65em 1em;
  font-weight: 100;
  color: #fff;
}
.page-my-account form ::-webkit-input-placeholder {
  color: #fff;
}
.page-my-account form :-moz-placeholder {
  color: #fff;
}
.page-my-account form ::-moz-placeholder {
  color: #fff;
}
.page-my-account form :-ms-input-placeholder {
  color: #fff;
}
.page-product {
  background: url("../img/shop-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-product .item-box.product-view {
  padding: 1.75em;
}
.page-product .product-item-container {
  margin-right: -1em;
}
.page-product .product-item-container .item-box {
  width: calc(33% - 1em);
}
.page-search {
  background: url("../img/search-bg.png") center center;
}
.page-search h2 i.arrow-down-white {
  width: 1em;
  height: 1em;
}
.page-search h2:before {
  content: '';
  display: block;
  position: absolute;
  left: -50px;
  top: 20px;
  background: url("../img/search-title-arrow.png") no-repeat center center;
  background-size: 100%;
  height: 178px;
  width: 50px;
}
.page-search .container {
  max-width: 1200px;
  margin-left: 0;
}
.page-seller {
  background: url("../img/seller-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-seller .product-item-container {
  margin-right: -1em;
}
@media only screen and (max-width: 992px) {
  .page-seller .product-item-container {
    margin-right: 0;
  }
}
.page-shop {
  background: url("../img/shop-bg.jpg") no-repeat center center;
  background-size: cover;
}
.page-wishlist {
  background: url("../img/wishlist-bg.jpg") no-repeat center center;
  background-size: cover;
}
.generic-content {
  padding: 0 1em;
}
.text-shadow {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.bg-paper {
  background: #fff url("../img/search-sidebar-bg.png") center center;
  background-size: cover;
}
.round-edge {
  border-radius: 6px;
}
.tape2:before,
.tape2:after {
  content: '';
  position: absolute;
  background-size: 100% 100% !important;
  display: block;
}
.tape2:before {
  background: url("../img/product-item-view-tape2.png") no-repeat top left;
  height: 41px;
  width: 113px;
  top: -18px;
  left: 35%;
}
.button-small {
  font-size: 0.8em;
}
.page {
  -webkit-transition: 1000ms ease all;
  transition: 1000ms ease all;
}
.scroll-up {
  -webkit-transition-delay: 50ms !important;
          transition-delay: 50ms !important;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  overflow: hidden;
}
.scroll-preloaded {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1000ms ease all;
  transition: 1000ms ease all;
}

/*# sourceMappingURL=app.css.map */
