@import 'rupture'
@import 'bootstrap.css'
@import 'components/*.styl'
@import 'pages/*.styl'


.generic-content
  padding: 0 1em

.text-shadow
  text-shadow: 2px 2px 1px rgba(#000, 0.4)

.bg-paper
  background: #fff url('../img/search-sidebar-bg.png') center center
  background-size: cover

.round-edge
  border-radius: 6px

.tape2
  &:before, &:after
    content: ''
    position: absolute
    background-size: 100% 100% !important
    display: block
  &:before
    background: url('../img/product-item-view-tape2.png') no-repeat top left
    height: 41px
    width: 113px
    top: -18px
    left: 35%

.button-small
  font-size: 0.8em

.page
  transition: 1000ms ease all

.scroll-up
  transition-delay: 50ms !important
  transform: translateY(-100%);
  top: 0
  left: 0
  width: 100%
  position: fixed
  height: 100%
  overflow: hidden

.scroll-preloaded
  transform: translateY(100%);
  transition: 1000ms ease all
