teal = #6AACAA
purple = #a475b7

*
  box-sizing: border-box
  font-family: 'Rubik', sans-serif

html, body
  font-family: sans-serif
  padding: 0
  margin: 0
  max-width: 100%
  overflow-x: hidden

a
  color: #DD4758
  &:hover, &:active, &:focus
    text-decoration: none
    color: darken(#DD4758, 10%)

input[type=text], input[type=password], input[type=email], textarea
  background: #E2E2E2
  border: none
  box-shadow: 0px 2px 4px 0px rgba(255,255,255,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.20)
  border-radius: 5px
  padding: 0.5em
  display: block
  width: 100%
  margin-bottom: 1em

.container
  width: 100%

.arrow-down-white
  display: inline-block
  height: 25px
  width: 25px
  background: url('../img/arrow-down-white.png') no-repeat center center
  background-size: 100%
  position: relative
  bottom: -0.25em
  right: -0.25em


.utility-float-left
  float: left !important

.utility-float-right
  float: right !important

.bg-wood
  background: url('../img/explore-bg.jpg') no-repeat center center
  background-size: cover

