.bottom-link
  color: #fff
  position: fixed
  bottom: -3px
  left: calc(50%)
  background: url('../img/bottom-fabric.png') no-repeat top center
  background-size: 100%
  display: block
  height: 40px
  width: 260px
  text-align: center
  font-size: 1.5em
  line-height: 2em
  transition: 250ms ease all
  &:hover, &:focus, &:active
    color: #fff
    text-decoration: none
    bottom: 0
    cursor: pointer

.bottom-link-wood
  background: url('../img/bottom-wood.png') no-repeat top center
  background-size: 100%
  height: 55px
  width: 280px
  font-size: 1.6em
  line-height: 2.75

