.button
  background: #000;
  border: 0
  border-radius: 6px;
  border-bottom: 4px solid darken(#000, 10%)
  font-size: 14px;
  color: #fff
  display: block
  padding: 0.5em 1em
  text-align: center
  outline: none
  &:hover, &:focus
    color: #fff
  &:active
    border-color: transparent !important
    position: relative
    top: 4px

.button-violet
  background: #A475B7
  border-color: darken(#A475B7, 10%)
  &:hover, &:focus
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button-seagreen
  background: #84CFCD
  border-color: darken(#84CFCD, 10%)
  &:hover, &:active, &:focus
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button-green
  background: #6AB01E
  border-color: darken(#6AB01E, 10%)
  &:hover
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button-red
  background-color: #DD4758
  border-color: darken(#DD4758, 10%)
  &:hover
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button-yellow
  background-color: #EFDD02
  border-color: darken(#EFDD02, 10%)
  color: #9B8F00
  &:hover, &:focus
    color: #9B8F00 !important
  &:active
    border-color: transparent
    position: relative
    top: 4px
    color: #9B8F00 !important

.button-seagreen2
  color: #418785
  background-color: #84CFCD
  border-color: darken(#6AACAA, 10%)
  &:hover, &:focus
    color: #418785 !important
  &:active
    border-color: transparent
    position: relative
    top: 4px
    color: #418785 !important

.button-buy
  background-color: #6AB01E
  border-color: darken(#6AB01E, 20%)
  padding: 0.25em 0.5em
  display: inline-block
  &:hover, &:active, &:focus
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button-wishlist
  background-color: #EFDD02
  border-color: darken(#EFDD02, 20%)
  display: inline-block
  padding: 0.25em 0.5em
  i
    height: 1em
    width: 1em
  &:active
    border-color: transparent
    position: relative
    top: 4px

.button--add
  border-radius: 100px
  min-width: 0
  height: 30px
  width: 30px
  padding: 0.5em 0.4em
  float: right
  line-height: 0.4
  font-size: 1.5em
  margin: 0
  text-align: center
  display: block
  border: none
  box-shadow: 2px 2px 2px rgba(#000, 0.2)
  font-weight: 300
  &:hover, &:active, &:focus
    color: #fff
  &:active
    border-color: transparent
    position: relative
    top: 4px
