.cart-price-breakdown
  border-radius: 6px
  background-color: #fff
  color: #4a4a4a
  padding: 0.75em 0
  table
    width: 100%
    td
      padding: 0.25em 1.25em
      font-size: 1.1em
    td:last-child
      text-align: right
      font-size: 1.25em
      font-weight: 500
    tfoot
      border-top: 1px solid rgba(#000, 0.2)
      color: #6AB01E
      td
        padding-top: 1em
