.cart-summary
  background-color: #fff
  border-radius: 6px
  color: #4a4a4a
  padding: 0.25em 1em
  padding-bottom: 1em

  h3
    font-size: 1.25em
    margin: 0
    padding: 1em 0
    color: #DD4758
  h4
    padding: 0
    margin: 0
  img
    max-width: 100%

  .price
    text-align: right
    color: #6AB01E

  input
    box-shadow: none
    background-color: #fff
    border: 1px solid rgba(#000, 0.3)
    max-width: 60%
    padding: 0.2em
    margin-top: 0.5em
