.checkbox-violet
  font-weight: normal
  font-size: 0.8em
  margin: 0 !important
  &:hover
    cursor: pointer
  span
    position: relative
    padding: 0.5em
    padding-left: 2em
    overflow: visible
    line-height: 1.75
    user-select: none
    &:before, &:after
      overflow: visible
      content: ''
      display: block
      position: absolute
      top: 0.5em
      left: 0
      height: 16px
      width: 16px
      background: url('../img/checkbox-box.png') no-repeat center center
      background-size: 16px
    &:after
      background: url('../img/checkbox-check.png') no-repeat center center
      height: 28px
      width: 26px
      display: none
      background-size: 20px
      top: calc(0.5em - 8px)
      left: -2px

  input
    display: none

  input:checked + span
    &:after
      display: block


