.explore-sidebar
  background: #fff url('../img/search-sidebar-bg.png') center center
  background-size: cover
  box-shadow: 4px 4px 4px rgba(#000, 0.25)
  padding: 1.5em 2em 3em 2em
  border-radius: 4px
  position: relative
  margin-top: 2em
  color: #55565B
  ul
    padding: 0
    margin: 0
    list-style: none
    margin-top: 0.5em
  li
    padding-bottom: 0.25em
    font-size: 1.1em
    &.active
      padding-bottom: 1em
      > a
        color: #8765AC
    ul
      margin-left: 1em
      opacity: 0
      visibility: hidden
      max-height: 0
      transition: 50ms ease all
      overflow: hidden
      &.active
        opacity: 1
        visibility: visible
        margin-bottom: 1em
        max-height: 1000px

  a
    color: #55565B
    font-size: 1em
    &:hover
      color: purple !important
  h3
    font-size: 1em
    text-transform: uppercase
  &:before, &:after
    content: ''
    position: absolute
    background-size: 100% 100% !important
    display: block
  &:before
    background: url('../img/explore-sidebar-tape.png') no-repeat top left
    height: 42px
    width: 113px
    top: -22px
    left: 20%


