.explore-feature-container
  .button
    display: inline-block
    padding: 0.25em 0.5em
  .row
    margin-bottom: 1em
  +below(992px)
    .row
      margin-bottom: 2em

.explore-feature, .explore-cat
  height: 200px
  background: url('') no-repeat center left
  background-size: cover
  border-radius: 4px
  overflow: hidden
  box-shadow: 4px 4px 4px rgba(#000, 0.4)
  position: relative
  vertical-align: middle
  margin-bottom: 1em
  > div
    width: 65%
    height: 100%
    display: inline-block
    padding: 2em
    p, h3, h2
      padding: 0
      margin: 0
    h1
      font-weight: 300 !important

.explore-cat
  h3
    font-size: 1.35em
    position: absolute
    bottom: 1em
    left: 1em
    z-index: 10

.explore-cat
  height: 150px
