.filter-bar
  display: inline-block
  color: #55565B
  background: #fff url('../img/filter-bar-bg.png')
  border-radius: 4px
  box-shadow: 3px 3px 3px rgba(#000, 0.2)
  margin-bottom: 1em

.filter-bar__title
  display: inline-block
  position: relative
  padding: 0.5em 1.5em 0.5em 0.75em
  font-size: 1.15em
  font-weight: 500
  &:after
    content: ''
    background: url('../img/filter-bar-divider.png')
    background-size: 100% auto
    width: 10px
    height: 100%
    position: absolute
    display: inline-block
    margin-bottom: -0.5em
    top: 0
    right: 0

.filter-bar__select
  margin: 0.25em 1em 0.25em 0.5em
  -webkit-appearance: none
  background: transparent url('../img/filter-bar-arrow.png') no-repeat center right
  background-size: 10px
  border: 0
  padding-right: 1.75em
