.helper
  position: fixed
  bottom: 0
  right: 0
  color: #000
  background: #fff
  padding: 1em
  z-index: 1000000
  max-height: 35px
  overflow: hidden
  box-shadow: -2px -2px 4px rgba(#000, 0.2)
  font-size: 0.75em
  transition: 1000ms all ease
  &.active
    max-height: 10000px
  ul
    list-style: none
    padding: 0
    margin: 0
  li
    padding: 0.5em 0
