.icon
  display: inline-block
  height: 1em
  width: 1em
  background-size: 100% 100% !important
  position: relative
  bottom: -0.15em
  right: -0.15em
  margin-right: 0.5em

.icon-favorite
  background: url('../img/icon-favorite-stores.png') no-repeat center center

.icon-wishlist
  background: url('../img/icon-my-wishlist.png') no-repeat center center

.icon-share
  background: url('../img/icon-share.png') no-repeat center center

