.item-box
  display: flex
  flex-wrap: wrap
  padding: 0.75em
  background: #fff
  border-radius: 0.5em
  box-shadow: 4px 4px 4px rgba(#000, 0.1)
  margin-bottom: 1em

.item-box__img
  width: 100%
  flex: 0 0 100%
  img
    width: 100%
    max-width: 100%
    margin-bottom: 0.75em

.item-box__description
  flex: 1 1 60%
  color: #4A4A4A
  margin-top: 0.5em

.item-box__title
  font-weight: 400
  font-size: 1.1em
  padding-bottom: 0.25em
  margin: 0

.item-box__subtitle
  font-size: 0.9em
  margin: 0

.item-box__action
  text-align: right
  margin-top: 0.5em
  flex: 1 1 40%

.item-box--small
  .item-box__img
    height: 0
    padding-bottom: 110%
    overflow: hidden
    background-size: cover
    background-position: center center
    margin-bottom: 1em

.item-box--4x4
  .item-box__img
    display: flex
    flex-wrap: wrap
    div
      flex: 1 1 calc(50% - 0.5em)
      overflow: hidden
      border-radius: 12px
      margin-bottom: 0.5em
      &:nth-child(2n - 1)
        margin-right: 0.5em
    img
      margin: 0

.item-box--horizontal
  display: flex
  position: relative
  .item-box__img
    flex: 1 1 50%
    height: 120px
  .item-box__description
    padding-left: 1em
    flex: 1 1 50%
  .item-box__action
    position: absolute
    left: 50%
    padding-left: 1em
    bottom: 1em
    .button
      color: #fff
