.my-account-profile
  background: url('../img/my-account-bg1.png') no-repeat top left
  background-size: cover
  padding: 4.5em 3em 1em
  box-shadow: 4px 4px 4px rgba(#000, 0.25)
  color: #000
  margin-bottom: 3em
  img
    width: 115px
    max-width: 100%
  h3
    color: #DD4758
    margin: 0
    padding: 0
  table
    width: 100%
    margin-top: 1em
    td
      font-weight: 100
      padding: 0.5em 0
      font-size: 1.2em
    td:first-child
      font-weight: 400
      width: 27%
  hr
    border: 0
    border-top: 1px solid #000

.my-account-profile-upload
  margin: 1em 0
  display: block
  .button
    background: #DD4758
    border-color: darken(#DD4758, 20%)
    padding: 0.25em 1em
    font-weight: 100
    font-size: 0.9em
    display: inline-block
    margin-left: 0.5em

.my-account-profile-action
  padding-top: 4em
  padding-bottom: 1em
  text-align: right
  button
    border: 0
    background: transparent

.my-account-profile-edit
  color: #6AB01E

.my-account-profile-deactivate
  color: #B31628

.my-account-password
  background: #A0E3E3
  background-size: cover
  padding: 2em 8em 3em 3em
  margin-bottom: 3em
  box-shadow: 4px 4px 4px rgba(#000, 0.25)
  position: relative
  &:before, &:after
    content: ''
    position: absolute
    width: 23px
    height: 64px
    background-size: 100% !important
    display: block
  &:before
    background: url('../img/my-account-clip1.png') no-repeat top left
    top: -22px
    right: 60px
  &:after
    background: url('../img/my-account-clip2.png') no-repeat center center
    bottom: -22px
    right: 60px

  h3
    margin-bottom: 1em
  form
    input:not([type=submit])
      background-color: #418785
    .button
      background-color: #6AACAA
      border-color: darken(#6AACAA, 20%)

.my-account-email
  background: lighten(#9013FE, 44%)
  background-size: cover
  padding: 2em 8em 3em 3em
  box-shadow: 4px 4px 4px rgba(#000, 0.25)
  color: #fff
  position: relative
  margin-bottom: 8em
  &:before, &:after
    content: ''
    position: absolute
    width: 23px
    height: 64px
    background-size: 100% 100% !important
    display: block
  &:before
    background: url('../img/my-account-clip3.png') no-repeat top left
    top: 40%
    right: -22px
    width: 64px
    height: 23px
  &:after
    background: url('../img/my-account-clip4.png') no-repeat center center
    bottom: -22px
    right: 60px
  h3
    margin-bottom: 1em
  table
    width: 100%
    td:last-child
      text-align: right
  form
    input:not([type=submit])
      background-color: #9013FE
    .button
      background-color: #8765AC
      border-color: darken(#8765AC, 20%)

