.page
  width: 100%
  padding: 2em
  padding-left: 320px
  min-height: 100vh
  padding-top: 3.5em
  color: #fff
  h2
    color: #fff
    text-shadow: 0 2px 2px rgba(0,0,0,0.5)
    font-size: 2.75em
    font-weight: 500
    margin-bottom: 0.75em
    position: relative
  +below(768px)
    padding-top: 10em
    padding-left: 2em
    padding-right: 0.5em
    font-size: 0.9em
