.product-view-reviews
  padding-bottom: 0
  .button
    margin-top: 0.75em
    float: right
  hr
    margin: 0.5em
    margin-left: -20px
    width: calc(100% + 40px)



.product-view-reviews-item
  border-top: 1px solid rgba(#4a4a4a, 0.2)
  padding-top: 1.25em
  clear: both
  color: #4a4a4a
  margin: 0 -20px
  &:first-child
    padding-top: 0
    border-top: 0
  p
    font-size: 0.8em
    margin-top: 0.5em
    padding-bottom: 0
    margin-bottom: 0
  &__name
    font-size: 1.25em
    +below(1280px)
      font-size: 1em

  &__date
    text-align: right
    +below(1280px)
      font-size: 0.9em
    +below(992px)
      text-align: left
  &__image
    padding-top: 0.1em
    img
      max-width: 125%
      min-width: 40px
  .rating
    margin: 0.5em 0


