.product-view
  margin-bottom: 2.5em
  margin-top: 1.1em
  display: flex
  &:before, &:after
    content: ''
    position: absolute
    background-size: 100% 100% !important
    display: block
  &:before
    background: url('../img/product-item-view-tape.png') no-repeat top left
    height: 45px
    width: 185px
    top: -18px
    left: 35%
  .item-box__img
    flex: 0 0 100%
    margin-bottom: 0.5em

.product-view__thumb
  flex: 1 1 50%
  img
    width: 40%

.product-view__description
  flex: 1 1 50%
  padding-bottom: 0.5em
  color: #4a4a4a
  h3
    margin: 0
    padding-bottom 0.5em
    font-size: 1.35em
    font-weight: 500

.product-view-close
  display: block
  background: url('../img/product-item-view-close.png') no-repeat center center
  width: 100px
  height: 30px
  background-size: 100%
  margin: 0
  border-radius: 4px
  box-shadow: 2px 2px 6px rgba(#000, 0.2)
  color: #4a4a4a
  line-height: 2.25
  padding: 0 0.75em
  margin-top: 1em
  transition: 250ms ease all
  &:hover
    transform: scale(1.02)
    color: #4a4a4a
    font-weight: 500
  &:active
    transform: scale(0.99)
    color: #4a4a4a


.product-view-store-items
  padding-bottom: 1.5em
  .button
    margin-top: 0.75em
    float: right
    margin-right: 1.5em
    margin-bottom: 1.5em
    box-shadow: none !important
  a
    display: block
    overflow: hidden
    img
      max-width: 100%
      border-radius: 8px

  .col-md-4
    padding-right: 0.25em
    padding-left: 0.25em

