.product-view-options
  padding: 0.5em 1.5em
  margin-top: 1em
  h2, h3
    font-size: 1.65em
    color: #4a4a4a
    text-shadow: none
    font-weight: 500
    margin-bottom: 0.25em
  h3
    font-size: 1.25em
    margin-top: 0.75em

  p
    color: #4a4a4a
    font-size: 1.2em
  select, input
    width: 100%
    -webkit-appearance: none
    background: transparent
    box-shadow: none
    border: 1px solid rgba(#4a4a4a, 0.5) !important
    font-size: 1em !important
    color: #4a4a4a
    padding: 0.35em 0.5em !important
    margin-top: 1em
  select
    background: url('../img/select-arrow.png') no-repeat calc(90% - 0.5em) center
    background-size: 1em
    padding-right: 0.5em

  .button
    padding: 0.25em 1em
    display: inline-block

  .col-md-4, .col-md-3
    padding-right: 0

.product-view-buttons
  padding: 1em 0.25em 0.5em
  box-shadow: inset 0 4px 4px rgba(#000, 0.1)
  margin: 0.5em -22px 0
