.product-item
  margin-right: 1em
  margin-bottom: 1.5em

.product-item__img
  width: 100%
  flex: 0 0 100%
  img
    width: 100%
    max-width: 100%
    margin-bottom: 0.75em

.product-item__description
  color: #4A4A4A
  flex: 1 1 60%

  .product-item__name
    font-weight: 400
    font-size: 1em
    margin: 0

  .product-item__price
    font-size: 0.9em
    margin: 0

.product-item__action
  text-align: right
  white-space: nowrap
  flex: 1 1 40%

.product-item--small
  .product-item__img
    height: 0
    padding-bottom: 110%
    overflow: hidden
    background-size: cover
    background-position: center center
    margin-bottom: 1em
  .item-box__action
    flex: 1 1 30%



