.product-item-container
  display: flex
  flex-wrap: wrap
  .product-item
    width: calc(25% - 1em)
    +below(1280px)
      width: calc(33.33% - 1em)
    +below(768px)
      width: calc(50% - 0.5em)
      &:nth-child(2n)
        margin-right: 0

