.rating
  span
    display: inline-block
    background: url('../img/icon-star-0.png') no-repeat center center
    background-size: 100%
    height: 1em
    width: 1em
    &.active
      background-image: url('../img/icon-star-1.png')

