.search-slidebar
  float: left
  margin-top: 0.5em
  width: 0
  visibility hidden
  opacity: 0
  height: 0
  h3
    color: #68696E
    font-size: 1.1em
    margin: 0
    margin-bottom: 0.35em
    font-weight: 500
  ul
    padding: 0
    list-style: none
  a
    color: #55565B
    font-size: 1em
    &:hover
      color: purple

.search-slidebar-item
  margin-bottom: 0
