.search-sidebar
  float: left
  width: 100%
  +below(992px)
    float: none
    width: 100% !important
  ul
    padding: 0
    margin: 0
    list-style: none
  li
    padding: 0.3em 0
  a
    color: #55565B
    font-size: 1.25em
    transition: 250ms ease all
    padding-right: 1em
    &:hover
      color: purple
    &.active
      color: purple
      background: url('../img/arrow-violet.png') no-repeat right center
      background-size: 0.5em
      padding-right: 1.5em
  &:before, &:after
    content: ''
    position: absolute
    background-size: 100% 100% !important
    display: block
  &:before
    background: url('../img/search-sidebar-tape.png') no-repeat top left
    height: (288/2)px
    width: (94/2)px
    top: 40%
    right: -12px
