.search-bar
  form
    position: relative
  input[type=text]
    width: 100%
    padding: 0.5em 1em
    border-radius: 0
    background: #fff url('../img/search-bar-bg.png')
    color: #8765AC
    font-size: 2em
    box-shadow: 4px 4px 4px rgba(#000, 0.25)
    font-weight: 500
  ::-webkit-input-placeholder
    color: #8765AC
  :-moz-placeholder
    color: #8765AC
  ::-moz-placeholder
    color: #8765AC
  :-ms-input-placeholder
    color: #8765AC
  input[type=submit]
    background: url('../img/search-bar-button.png')
    background-size: 100%
    height: 50px
    width: 50px
    border: none
    text-indent: -999px
    overflow: hidden
    position: absolute
    right: 2em
    top: 0.75em
    transition: 100ms ease all
    outline: 0
    &:active
      transform: scale(0.9)

.search-bar--small
  font-size: 0.65em
  input[type=text]
    border-radius: 4px
  input[type=submit]
    height: 30px
    width: 30px
  ::-webkit-input-placeholder
    color: #55565B
  :-moz-placeholder
    color: #55565B
  ::-moz-placeholder
    color: #55565B
  :-ms-input-placeholder
    color: #55565B
