.search-sidebar-container
  background: #fff url('../img/search-sidebar-bg.png') center center
  box-shadow: 4px 4px 4px rgba(#000, 0.25)
  padding: 1.5em 2em 3em 2em
  position: relative
  left: 1.25em
  transition: 500ms ease all
.search-sidebar-container.active
  width: 100%
  .search-sidebar
    width: 25%
    height: auto
  .search-slidebar
    position: relative
    width: 70%
    opacity: 1
    visibility:visible
    height: auto
  //fucking shadow
  .search-slidebar:before
    content: ''
    height: calc(100% + 75px)
    width: 16px
    display: block
    left: -35px
    top: -35px
    position: absolute
    background: url('../img/divider-vertical-shadow.png') repeat-y left top
    background-size: 16px auto


  & + .featured-products-container
    opacity: 0
    visibility: hidden
    height: 0
    overflow: hidden