.search-slidebar-featured
  border-top: 2px dashed #979797
  padding-top: 1.5em
  margin-top: 1.5em
  h3
    color: #84CFCD !important
    font-weight: normal
    margin-bottom: 0.5em !important
    margin-top: 1em
  > div
    display: flex
    .item-box
      background-color: #F3F3F3
      flex: 1 1 50%
      margin-right: 1em
      &:last-child
        margin-right: 0

.search-slidebar-featured__viewmore
  color: #fff !important
  display: inline-block
  padding: 1em 1em
  max-height: 75px
  margin-top: 2em
