.seller-header-bar
  background-color: #fff
  border-radius: 8px
  box-shadow: 4px 4px 4px rgba(#000, 0.1)
  padding: 1em 1.5em
  font-size: 1.1em
  margin: 1em 0 1.75em

.seller-header-bar__item
  display: inline-block
  margin-right: 1.75em
  a
    color: #55565B
    &:hover
      color: #DD4758
    span
      color: #9B9B9B
      padding-left: 0.25em
      &:before
        content: '•'
        color: #9B9B9B
        padding-right: 0.45em
