.seller-header
  background-color: #fff
  border-radius: 8px
  padding: 0.5em
  padding-bottom: 4.75em
  box-shadow: 4px 4px 4px rgba(#000, 0.1)
  .button
    display: inline-block
    margin: 1em 0.25em
  .button-yellow
    background: #EFDD02 url('../img/seller-icon-favorite.png') no-repeat calc(100% - 0.75em) center
    background-size: 1.15em
    padding-right: 2.5em
  .button-seagreen2
    background: #84CFCD url('../../img/seller-icon-message.png') no-repeat calc(100% - 0.75em) center
    background-size: 1.25em
    padding-right: 3.5em
  +below(992px)
    text-align: center
    .utility-float-right, .utility-float-left
      clear: both
      float: none !important


.seller-header__cover
  height: 16em
  border-radius: 6px 6px 0 0
  background: url('../../img/seller-header.jpg') no-repeat center center
  background-size: cover

.seller-header__avatar
  float: left
  display: inline-block
  border-radius: 8px
  overflow: hidden
  margin-right: 1em
  margin-bottom: 0.5em
  margin-top: -1.5em
  margin-left: 1em
  max-width: 80px
  img
    max-width: 100%
  +below(992px)
    float: none

h3.seller-header__title
  color: #DD4758
  font-weight: 400
  margin: 0
  font-size: 1.45em
  margin-bottom: 0.25em
  margin-top: 0.5em

  & + .rating
    font-size: 1.1em
  +below(768px)
    max-width: 1000px
    font-size: 1.25em
    & + .rating
      font-size: 1.35em


