.seller-feature-box
  background-image: linear-gradient(-45deg, #ECECEC 0%, #FFFFFF 100%)
  box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.29)
  border-radius: 5px
  padding: 1em
  display: flex
  margin-bottom: 1em
  flex-wrap: wrap
  .button
    display: inline-block
    font-size: 0.85em
    padding: 0.25em 0.75em
    margin-top: 1em
    +below(768px)
      font-size: 1em

.seller-feature-box__info
  flex: 1 1 25%
  +below(768px)
    flex: 1 1 100%
    margin-bottom: 1em
    p
      font-size: 1.15em

.seller-feature-box__avatar
  display: inline-block
  border-radius: 8px
  overflow: hidden
  max-width: 55px
  float: left
  margin-right: 0.5em
  margin-bottom: 0.5em
  img
    width: 100%

h3.seller-feature-box__title
  color: #DD4758
  font-weight: 400
  margin: 0
  font-size: 1.05em
  max-width: 80px
  margin-bottom: 0.25em

  & + .rating
    font-size: 0.9em
  +below(768px)
    max-width: 1000px
    font-size: 1.5em
    & + .rating
      font-size: 1.35em


.seller-feature-box__description
  color: #55565B
  clear: both
  font-size: 0.9em
  margin: 0

.seller-feature-box__products
  flex: 1 1 75%
  display: flex
  +below(768px)
    display: block

.seller-feature-box__product
  flex: 1
  border-radius: 10px
  overflow: hidden
  padding-left: 1em
  img
    max-width: 100%
  +below(768px)
    padding-left: 0
