.sidebar-container.sidebar-register-active
  .sidebar-primary
    padding-right: 140px
  .sidebar-register
    opacity: 1
    left: 0

.sidebar-container.sidebar-login-active
  .sidebar-primary
    padding-right: 140px
  .sidebar-login
    opacity: 1
    left: 0

.sidebar
  position: fixed
  top: 0
  left: 0
  box-shadow: 10px 0 10px rgba(0,0,0,0.2)
  background: url('../img/sidebar-bg.png') no-repeat center center
  background-size: cover
  height: 100%
  min-width: 240px
  text-align: center
  z-index: 1000
  transition: 250ms ease all
  a:hover
    color: #dd4758

  +below(768px)
    left: -220px

.sidebar.active
  +below(768px)
    left: 0


.sidebar-register, .sidebar-login
  width: 300px
  opacity: 0
  left: -300px
  padding-top: 2em
  .sidebar-section
    padding-right: 4em
    padding-left: 2em
    padding-bottom: 2em
  h3
    color: #DD4758
    font-weight: normal
    text-align: left
    font-size: 1.5em
    margin-bottom: 1em
  .sign-in-with
    background: #000;
    border-radius: 6px;
    border-bottom: 4px solid darken(#000, 10%)
    font-size: 14px;
    color: #fff
    display: block
    padding: 0.5em 1.5em
    text-align: left
    margin-bottom: 1em
    position: relative
    &.facebook
      background: #225A9B
      border-color: darken(#225A9B, 20%)
    &.google
      background: #D0021B
      border-color: darken(#D0021B, 20%)
    &:hover
      color: #fff
    &:active
      border-color: transparent
      top: 4px


.sidebar-my-account
  text-align: left
  padding: 3em 1em 2em 3.25em !important
  &:after
    content: none !important
  img
    width: 60px
  h3
    color: #DD4758
    font-size: 1.25em
    font-weight: 400
  ul
    list-style: none
    padding: 0
    margin: 0.25em 0
  li
    line-height: 1.75
  a
    color: #55565B


.sidebar-form
  text-align: left
  input[type=submit]
    background-color: #84CFCD
    border-color: darken(#84CFCD, 30%)
    padding: 0.45em 1em

.sidebar-form-terms
  position: relative
  padding-left: 1.5em
  span
    font-size: 0.8em
    color: #999999
  input
    position: absolute
    top: 0
    left: 0

.sidebar-form-bottom
  padding-top: 2em
  color: #999999
  font-size: 0.9em
  a
    color: #8765AC

.sidebar-login
  .sidebar-form-bottom
    input[type=submit]
      background-color: #8765AC
      border-color: darken(#8765AC, 30%)
    a
      color: #84CFCD

.sidebar-login-footer
  text-align: left
  margin-top: 1.5em
  a
    display: block
    color: #8765AC

.sidebar-or
  margin-top: -0.25em
  margin-bottom: 2em
  background: url('../img/sidebar-bg.png')
  margin-left: -0.5em
  width: 40px

.sidebar:after
  position: absolute
  content: ''
  display: block
  height: 100%
  width: 20px
  top: 0
  right: 0
  background: url('../img/sidebar-bg2.png') repeat-y top center
  background-size: 30%

.sidebar-section
  position: relative
  padding: 0em 1em 0

.sidebar-section:after
  content: ''
  display: block
  background: url('../img/sidebar-divider.png') no-repeat bottom
  background-size: 100% auto
  height: 20px
  width: 100%
  position: absolute
  bottom: -20px
  left: 0

.sidebar-section:last-child:after
  content: none

.sidebar-logo
  padding: 3em 1em 1em
  img
    max-width: 160px
    display: block
    margin: 0 auto
    margin-bottom: 1em
  p
    color: #6AACAA

.sidebar-login-link
  padding-top: 1em
  a
    color: #55565B
    text-decoration: none
    padding: 0.25em
    display: inline-block
    font-size: 1.25em

.sidebar-bottom
  position: absolute
  bottom: 50px
  width: 100%
  &:before
    content: ''
    display: block
    background: url('../img/sidebar-divider.png') no-repeat bottom
    background-size: 100% auto
    height: 20px
    width: 100%
    position: absolute
    top: -20px
    left: 0

@media (max-height: 700px)
  .sidebar-bottom
    position: relative
    bottom: 0
    padding-top: 1em
    &:before
      content: none

.sidebar-scrollable
  overflow: scroll
  max-height: 100%
  padding-bottom: 40px

.sidebar-cart
  a
    display: block
    color: #55565B
    width: 100%
    line-height: 2.5em
    font-size: 1.25em
    &:hover
      text-decoration: none

.sidebar-cart-icon
  display: inline-block
  background: url('../img/sidebar-cart-icon.png') no-repeat center center
  background-size: auto 100%
  height: 40px
  width: 100px
  margin-left: -2em
  text-align: right
  span
    background-color: #DD4758
    border-radius: 100px
    padding: 0.25em 0.65em
    color: #fff
    font-size: 0.7em
    position: relative
    left: -1.35em
    top: 0

.sidebar-social
  ul
    list-style: none
    padding: 1.25em 0 0 0
  li
    display: inline-block
    a
      overflow: hidden
      text-indent: -999px
      display: block
      height: 25px
      width: 25px
      background: url('') no-repeat center center
      background-size: 100%
      &.facebook
        background-image: url('../img/social-facebook.png')
      &.vimeo
        background-image: url('../img/social-vimeo.png')
      &.linkedin
        background-image: url('../img/social-linkedin.png')
      &.youtube
        background-image: url('../img/social-youtube.png')

.sidebar-start-selling-today
  padding-top: 2em
  p
    color: #E65F6B
    padding: 0
    font-size: 1.05em
    margin-bottom: 6px
  ul
    list-style: none
    padding: 0
  a
    color: #55565B
    line-height: 2em

.sidebar-menu
  position: absolute
  right: -81px
  top: 4em
  background: url('../img/sidebar-menu-bg.png') no-repeat right center
  background-size: auto 100%
  height: 76px
  width: 81px
  transition: 250ms ease-out all
  ul
    list-style: none
    padding: 8px 1em
    margin: 0
    text-align: left
    visibility: hidden
    opacity: 0
    transition: 250ms ease-out all
    overflow: hidden
    max-height: 80px
  li
    display: inline-block
    a
      color: #fff
      padding: 1em 1.15em
      display: inline-block
      font-size: 1.25em

.sidebar-menu-toggle
  background: url('../img/sidebar-menu-icon-open.png') no-repeat center center
  display: block
  height: 20px
  width: 20px
  background-size: 100%
  position: absolute
  top: 2em
  right: 3em

.sidebar-menu-help
  text-align: left
  position: absolute
  top: 1.85em
  left: 7em
  background: url('../img/sidebar-menu-arrow.png') no-repeat top left
  background-size: 27px
  padding-top: 4em
  width: 200px
  opacity: 0
  visibility: hidden
  transition: 250ms ease all
  transform: translateX(-1em)
  p
    font-size: 1.35em
  &.active
    opacity: 1
    visibility: visible
    transform: translateX(0)

.sidebar-menu.active
  width: 580px
  right: -580px
  ul
    visibility: visible
    opacity: 1
  .sidebar-menu-toggle
    background-image: url('../img/sidebar-menu-icon-close.png')
    background-size: 70%
  .sidebar-menu-help
    opacity: 0
    visibility: hidden
  +below(667px)
    width: 340px
    right: -340px
    > div
      padding-right: 2em
      overflow-x: scroll
      width: 250px
    ul
      white-space: nowrap
      width: 500px

.sidebar-reveal
  background: url('../img/sidebar-reveal-open-bg.png') no-repeat top center
  background-size: 100% auto
  width: 100%
  display: block
  position: absolute
  height: 40px
  bottom: 0
  left: 0
  z-index: 100
  transition: 250ms ease all
  overflow: hidden
  &:not(.active):hover
    height: 45px
  ul
    list-style: none
    padding: 1.25em 0
    a
      color: #fff
      display: inline-block
      padding: 0.25em 0
      font-size: 1.1em

.sidebar-reveal-toggle
  color: #fff
  line-height: 3.5em
  &:hover
    color: #fff
    text-decoration: none
    cursor: pointer

.sidebar-reveal.active
  height: 240px

.sidebar-close
  position: absolute
  top: 0
  right: 1em
  font-size: 2em
  opacity: 0
  z-index: 1000
  +below(768px)
    opacity: 1
  &:active
    transform: scale(0.9)
  &:hover
    cursor: pointer
  .sidebar-login &, .sidebar-register &
    opacity: 1 !important

.sidebar-bg-overlay
  background: rgba(#000, 0.4)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  opacity: 0
  visibility: hidden
  transition: 500ms ease all
  &.active
    opacity: 1
    visibility: visible
