@lost gutter 1em

.wishlist-item
  display: flex
  padding: 0.75em
  background: #fff
  border-radius: 0.5em
  box-shadow: 4px 4px 4px rgba(#000, 0.1)
  margin-bottom: 1em
  color: #422A20
  lost-column: 1/2 2
  +below(1024px)
    lost-column: 1

.wishlist-item__image
  flex: 1

.wishlist-item__info
  flex: 1 1 100%
  padding: 0 0 0 1em
  display: flex
  flex-direction: column
  font-size: 1.1em

.wishlist-item__title
  justify-content: flex-start
  flex: 1
  font-size: 1.25em

.wishlist-item__footer
  border-top: 1px solid rgba(#000, 0.1)
  padding-top: 0.5em
  > div
    display: inline-block
  .button
    display: inline-block
    font-size: 0.8em
    padding: 0.25em 1em
    float: right
