.wishlist-group-container
  display: flex
  flex-wrap: wrap
  > div
    flex: 1 1 calc(33.33% - 2em)
    margin-right: 2em
    margin-bottom 2em
    +below(1024px)
      flex: 1 1 calc(50% - 2em)
    +below(768px)
      flex: 1 1 100%