.wishlist-group-add
  border: 2px dashed #fff
  border-radius: 8px
  display: flex
  justify-content: center
  flex-direction: column

  a
    display: block
    text-align: center
    color: #fff
    font-size: 1.75em
    line-height: 1.25
    font-weight: 300
    &:hover
      img
        transform: scale(1.05)
    &:active
      img
        transform: scale(0.95)

  img
    display: block
    margin: 1em auto
    max-width: 80px
    transition: 100ms ease all

