.wishlist-info
  background: url('../img/wishlist-share-bg.png')
  background-size: 100%
  box-shadow: 4px 4px 4px rgba(#000, 0.1)
  padding: 1em
  padding-top: 40px
  color: #4A4A4A
  position: relative
  margin-bottom: 1em
  &:before
    content: ''
    background: url('../img/wishlist-info-pin.png') no-repeat center center
    display: block
    position: absolute
    top: 0.5em
    left: calc(50% - 20px)
    height: 40px
    width: 40px
    background-size: 100%



.wishlist-info__title
  margin: 0
  padding: 0.1em
  font-size: 1.5em

.wishlist-info__edit
  color: lighten(#000, 70%)

.wishlist-share
  margin-top: 0.75em
  padding-top: 0.75em
  border-top: 1px solid rgba(#000, 0.2)
  p
    margin: 0.25em
  ul
    list-style: none
    padding: 0
  li
    display: inline-block
  a
    display: block
    height: 2em
    width: 2em
    overflow: hidden
    text-indent: -999px
    background: url('') no-repeat center center
    background-size: 100%

.wishlist-share__fb
  background-image: url('../img/wishlist-social-fb.png') !important
.wishlist-share__tw
  background-image: url('../img/wishlist-social-tw.png') !important
.wishlist-share__ig
  background-image: url('../img/wishlist-social-ig.png') !important
.wishlist-share__pi
  background-image: url('../img/wishlist-social-pi.png') !important
.wishlist-share__em
  background-image: url('../img/wishlist-social-email.png') !important
