.page-generic
  background: url('../img/generic-bg.jpg') no-repeat center center
  background-size: cover
  h2
    color: #DD4758
    text-shadow: none
  h3
    color: #422A20
  p
    color: #422A20
    font-size: 1.1em
