.page-home
  background: url('../img/home-bg.jpg') no-repeat center center
  background-size: cover
  img
    max-width: 100%

.page-home-content
  padding-top: 135px
  h1
    color: #DD4758
    font-size: 4em
    margin-bottom: 0.5em
    +below(768px)
      font-size: 3em
  p
    font-size: 1.15em
    padding-right: 2em
    line-height: 2em
    color: #55565B
  +below(768px)
    padding-top: 60px
    width: 100%
    p
      font-size: 1.25em
      padding-right: 0

.page-home-image
  padding-top: 100px
  img
    max-width: 90%
    +below(768px)
      max-width: 100%

