.page-my-account
  background: url('../img/my-account-bg.png') no-repeat center center
  background-size: cover
  padding-top: 3.5em
  color: #55565B
  h3
    font-size: 1.35em
  form
    input:not([type=submit])
      box-shadow: 0px 2px 4px 0px rgba(255,255,255,0.25), inset 0px 1px 3px 0px rgba(0,0,0,0.20)
      padding: 0.65em 1em
      font-weight: 100
      color: #fff
    ::-webkit-input-placeholder
      color: #fff
    :-moz-placeholder
      color: #fff
    ::-moz-placeholder
      color: #fff
    :-ms-input-placeholder
      color: #fff
