.page-product
  background: url('../img/shop-bg.jpg') no-repeat center center
  background-size: cover
  .item-box.product-view
    padding: 1.75em


  .product-item-container
    margin-right: -1em
    .item-box
      width: calc(33% - 1em)