.page-search
  background: url('../img/search-bg.png') center center
  h2
    i.arrow-down-white
      width: 1em
      height: 1em
    &:before
      content: ''
      display: block
      position: absolute
      left: -50px
      top: 20px
      background: url('../img/search-title-arrow.png') no-repeat center center
      background-size: 100%
      height: 178px
      width: 50px
  .container
    max-width: 1200px
    margin-left: 0
